ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff; 
}

header, footer {
  background-color: #6b9bd3;
  color: #333333;
  padding: 1rem 0;
  text-align: center;
}

main {
  color: #333333;
  padding: 2rem;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

footer {
  margin-top: 2rem;
}